{{!--
  Expected input: pagination = {
    page: 2,
    totalPages: 5,
    hasPrev: true,
    hasNext: true,
    prevPage: 1,
    nextPage: 3
  }
--}}

<nav class="pagination" aria-label="{{t "pagination.nav"}}">

  {{#if pagination}}
    <ul class="pagination__list">

      {{! PREVIOUS }}
      <li class="pagination__item">
        {{#if pagination.hasPrev}}
          <a
            class="pagination__link"
            href="?{{queryString currentQuery page=pagination.prevPage lang=locale}}"
            rel="prev"
          >
            {{t "pagination.prev"}}
          </a>
        {{else}}
          <span class="pagination__link is-disabled">
            {{t "pagination.prev"}}
          </span>
        {{/if}}
      </li>

      {{! CURRENT PAGE }}
      <li class="pagination__item">
        <span
          class="pagination__current"
          aria-current="page"
        >
          {{#if pagination.page}}
            {{t "pagination.page"}} {{pagination.page}}
          {{/if}}
          {{#if pagination.totalPages}}
            / {{pagination.totalPages}}
          {{/if}}
        </span>
      </li>

      {{! NEXT }}
      <li class="pagination__item">
        {{#if pagination.hasNext}}
          <a
            class="pagination__link"
            href="?{{queryString currentQuery page=pagination.nextPage lang=locale}}"
            rel="next"
          >
            {{t "pagination.next"}}
          </a>
        {{else}}
          <span class="pagination__link is-disabled">
            {{t "pagination.next"}}
          </span>
        {{/if}}
      </li>

    </ul>
  {{/if}}

</nav>
